variables:
  GITLAB_VERSION: "master"
  GITLAB_SHELL_VERSION: "master"
  GITALY_VERSION: "master"
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://docker:2375

before_script:
  - source build-scripts/build.sh
  - export {CONTAINER_VERSION,BASE_VERSION}=$(get_version gitlab-ruby)
  - export TARGET_VERSION=$(get_target_version)
  - docker login -u gitlab-ci-token -p "$CI_JOB_TOKEN" "$CI_REGISTRY"

stages:
  - base-container
  - common-container
  - target-container

.job-base: &job-base
  image: "registry.gitlab.com/gitlab-org/gitlab-omnibus-builder:ruby_docker-0.0.7"
  services:
  - docker:dind
  dependencies: []
  retry: 1

gitlab-ruby:
  <<: *job-base
  stage: base-container
  script:
  - build_if_needed
  - push_if_master

gitlab-rails:
  <<: *job-base
  stage: common-container
  script:
  - export CONTAINER_VERSION=($(echo -n "$BASE_VERSION$TARGET_VERSION$(date -u +%D)" | sha1sum))
  - export BASE_IMAGE="$CI_REGISTRY_IMAGE/gitlab-ruby:$BASE_VERSION"
  - build_if_needed --build-arg "GITLAB_VERSION=${GITLAB_VERSION}" --build-arg "CACHE_BUSTER=$(date -uI)"
  - push_if_master

gitlab-task-runner:
  <<: *job-base
  stage: target-container
  script:
  - export CONTAINER_VERSION=($(echo -n "$TARGET_VERSION$(date -u +%D)" | sha1sum))
  - build_if_needed
  - push_if_master

kubectl:
  <<: *job-base
  stage: target-container
  script:
  - export CONTAINER_VERSION=($(echo -n "$TARGET_VERSION$(date -u +%D)" | sha1sum))
  - build_if_needed
  - push_if_master

gitlab-unicorn:
  <<: *job-base
  stage: target-container
  script:
  - rails_version=$(get_version gitlab-rails)
  - rails_container=($(echo -n "$BASE_VERSION$rails_version$(date -u +%D)" | sha1sum))
  - export CONTAINER_VERSION=($(echo -n "$rails_container$TARGET_VERSION" | sha1sum))
  - export BASE_IMAGE="$CI_REGISTRY_IMAGE/gitlab-rails:$rails_container"
  - build_if_needed --build-arg "TAG=$rails_container"
  - push_if_master
  dependencies:
    - gitlab-rails

gitlab-sidekiq:
  <<: *job-base
  stage: target-container
  script:
  - rails_version=$(get_version gitlab-rails)
  - rails_container=($(echo -n "$BASE_VERSION$rails_version$(date -u +%D)" | sha1sum))
  - export CONTAINER_VERSION=($(echo -n "$rails_container$TARGET_VERSION" | sha1sum))
  - export BASE_IMAGE="$CI_REGISTRY_IMAGE/gitlab-rails:$rails_container"
  - build_if_needed --build-arg "GITLAB_VERSION=${GITLAB_VERSION}" --build-arg "TAG=$rails_container"
  - push_if_master
  dependencies:
    - gitlab-rails

gitlab-shell:
  <<: *job-base
  stage: common-container
  script:
  - export CONTAINER_VERSION=($(echo -n "$BASE_VERSION$TARGET_VERSION$(date -u +%D)" | sha1sum))
  - export BASE_IMAGE="$CI_REGISTRY_IMAGE/gitlab-ruby:$BASE_VERSION"
  - build_if_needed --build-arg "TAG=$BASE_VERSION" --build-arg "GITLAB_SHELL_VERSION=${GITLAB_SHELL_VERSION}" --build-arg "CACHE_BUSTER=$(date -uI)"
  - push_if_master
  dependencies:
    - gitlab-ruby

gitaly:
  <<: *job-base
  stage: target-container
  script:
  - shell_version=$(get_version gitlab-shell)
  - export shell_container=($(echo -n "$BASE_VERSION$shell_version$(date -u +%D)" | sha1sum))
  - export CONTAINER_VERSION=($(echo -n "$shell_container$TARGET_VERSION" | sha1sum))
  - export BASE_IMAGE="$CI_REGISTRY_IMAGE/gitlab-shell:$shell_container"
  - build_if_needed --build-arg "GITALY_VERSION=${GITALY_VERSION}" --build-arg "TAG=$BASE_VERSION" --build-arg "shell_container=$shell_container" --build-arg "CACHE_BUSTER=$(date -uI)"
  - push_if_master
  dependencies:
    - gitlab-ruby
    - gitlab-shell

gitlab-redis-ha:
  <<: *job-base
  stage: target-container
  script:
  - export CONTAINER_VERSION=($(echo -n "$TARGET_VERSION$(date -u +%D)" | sha1sum))
  - build_if_needed
  - push_if_master
